

body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.ex1 {
    display: flex;
    gap: 20px;
    padding: 20px;
}


.caixa1{
    background: #8ba4db;
    padding: 30px;
    flex: 1;
    text-align: center;
}


@media (max-width: 600px){
    .ex1 {
        flex-direction: column;
    }
}
header{
    background: #e490d9;
}
.ex2 {
    display: flex;
    gap: 20px;
    padding: 20px;
}


.caixa2{
    background: #e08989;
    padding: 30px;
    flex: 1;
    text-align: center;
}


@media (max-width: 600px){
    .ex2 {
        flex-direction: column;
        background: #c0e9bc;
    }
}
.ex3 {
    display: flex;
    gap: 20px;
    padding: 20px;
}


.texto1{
    background: #8bfbff;
    padding: 30px;
    flex: 1;
    text-align: center;
    font-size: 20px;
}


@media (max-width: 600px){
    .ex3 {
        flex-direction: column;
    }
    .texto1{
        font-size: 10px;
    }
}
.menu4{
   display: flex;
    justify-content: center;
    gap: 20px;
    background: #d7a8e2;
    padding: 15px;
}
.menu a {
    color: white;
    text-decoration: none;
}


@media (max-width: 768px){
    .menu4 {
        flex-direction: column;
        align-items: center;
    }
}


.ex5 {
    display: flex;
    margin-top: 20px;
}


.texto2{
    background: #c884f5;
    padding: 30px;
    flex: 1;
    text-align: center;
    font-size: 20px;
}


@media (max-width:1024px){
    .ex5{
        width: 50%;
    }
}


@media (max-width:600px){
    .ex5{
        width: 100%;
    }
}




.grid-cards6{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}


.item6{
    background: #ace1e4;
    padding: 30px;
    text-align: center;
}


@media (max-width:600px){
    .grid-cards6{
        grid-template-columns: repeat(1,1fr);
    }
}




@media (max-width:600px){
    .imagens7{
        display: none;
    }
}


.btn8{
    padding: 40px 80px;
}
@media (max-width:600px){
    .btn8{
        padding: 10px 20px;
    }
}




.container9{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}


.item9{
    background: #73b0b3;
    padding: 30px;
    text-align: center;
}


@media (max-width:600px){
    .container9{
        flex-direction: row-reverse;
    }
}